.main{
    width:450px !important;
    height:auto !important;
    border-radius:4px;
    margin-top:50px;
    background-color: rgba(250, 250, 250, 0.9);
    border: 1px solid rgb(177, 177, 177);
}
body{
    background-image: url("../images/emoji-bg.png");
    
}
li:hover{
    background-color: rgb(220,220,220);
    cursor: pointer;
}
.info {
    float: right;
    position: relative;
    top: 8px;
    right: 10px;
    color: rgb(132, 132, 132);
    display: none;
}
.title{
    color: rgb(132, 132, 132);
    margin-left: 20px;
    font-size: 23px;
    
}
  
li:hover .info{
    display: inline-block;
}
*{
    margin:0
}